/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font:13px/1.231 arial,helvetica,clean,sans-serif;
	
	background: transparent;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* PAGE LAYOUT */

html, body {
	height: 100%;
}



body {
	margin: 0 auto;
	width: 100%;
}

#leftcolumn {
	float: left;
	width: 300px;
}

#content {
	/*margin: 0 20px 0 300px;*/
	color : black;
	font-size: 200px;
}




/* HEADER */

.header {
	
	height: 100px;
	
}

.header2 {
	
	
	float: left;
	
}


.header h1 {
	color: red;
	font-size: 272%;
	margin: 0;
	padding: 20px 0 0 120px;
	float: left;

}

.header h2 {
	color: green;
	font-size: 108%;
	margin: 0;
	padding: 0 0 0 120px;
}

/* MENU 1 */

#menu1 {
	background: url(resources/images/menu2.png) no-repeat 0% 0%;
	float: left;
	height: 42px;
	margin: 0 0 18px 0;
	width: 100%;
}

#menu1 ul {
	padding: 0;
	margin: 0;
	float: left;

}

#menu1 ul li { 
	display: inline; 
}

#menu1 ul li a,#menu1 ul li a:link {
	color: #fff;
	float: left;
	padding: 7px 10px 8px 10px;
	text-decoration: none;
}

#menu1 ul li a:hover {
	background-color: #fff;
	color: #37657f;
	padding: 7px 10px 8px 10px;
}



/* HEADINGS */

h1, h2, h3, h4, h5, h6 
{ 	
	color: #37657f;
	letter-spacing: 1px;
	margin: 0 0 18px 0;
	text-transform: uppercase;
}

h1 {
	font-size: 189%;
}

h2 {
	font-size: 146.5%;
}


h3 {
	border-top: 2px dotted #afc1cc;
	border-bottom: 2px dotted #afc1cc;
	font-size: 131%;
	padding: 5px 0;
}

h4, h5, h6 {
	font-size: 100%;
}

/* LINKS */

a, a:link, a:active, a:visited {
	color: #000000  ;
	font-weight: bold;
	
}

a:hover {
	color: #37657f;
	text-decoration: none;
}

/* SITE STYLES */

body {
	background-color: white;
	line-height: 200%;
}



div {
margin: 0;
}

p {
	margin: 100px 100px 100px 100px;
	font-size: 13%;


}











